* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	background-color: rgb(255, 195, 195);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	min-height: calc(100vh - 230px);
}

main div button {
	border: 5px dashed red;
	color: white;
	padding: 3px;
	font-size: 20px;
	width: 70px;
	text-align: center;
	position: relative;
	border-radius: 30px;
	top: 5px;
	margin: 5px;
	background-color: rgb(255, 94, 94);
	cursor: pointer;
	font-family: 'Silkscreen', cursive;
}

main div button.filters {
	width: 150px;
}

main .options {
	margin-top: 20px;
}

.buttons {
	display: flex;
	justify-content: center;
}

main div button:hover:not(button:disabled) {
	border: 5px dashed rgb(252, 80, 80);
	background-color: rgb(255, 137, 137);
}

main div button:disabled {
	opacity: 50%;
	cursor: default;
}

.filters {
	display: flex;
	justify-content: center;
	align-items: center;
}

.filters > * {
	width: 150px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Silkscreen', cursive;
}

input {
	border: 5px dashed rgb(252, 80, 80);
	font-size: 40px;
	padding: 5px;
	text-indent: 10px;
	border-radius: 300px;
	font-family: 'Silkscreen', cursive;
}

@media (min-width: 320px) and (orientation: portrait) {
	input {
		font-size: 14px;
	}

	.filters > * {
		width: 80px;
	}

	main div button {
		font-size: 14px;
	}

	.pokemon .addFavourite {
		font-size: 20px;
	}

	.pokemon .icon {
		width: 120px;
		height: 120px;
		margin-top: 15px;
	}

	.pokemon .name {
		font-size: 10px;
		height: 30px;
	}

	.pokemon .type {
		font-size: 9px;
	}

	.pokemon .stats {
		font-size: 10px;
		margin-top: 20px;
		margin-bottom: 0;
	}
}

@media (min-width: 375px) and (orientation: portrait) {
	input {
		font-size: 16px;
	}

	.filters > * {
		width: 90px;
	}

	main div button {
		font-size: 16px;
	}

	.pokemon .addFavourite {
		font-size: 23px;
	}

	.pokemon .icon {
		width: 150px;
		height: 150px;
		margin-top: 20px;
	}

	.pokemon .name {
		font-size: 12px;
		height: 40px;
	}

	.pokemon .type {
		font-size: 10px;
	}

	.pokemon .stats {
		font-size: 13px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

@media (min-width: 768px) and (orientation: portrait) {
	input {
		font-size: 30px;
	}

	.filters > * {
		width: 150px;
	}

	main div button {
		font-size: 25px;
	}

	.pokemon .addFavourite {
		font-size: 30px;
	}

	.pokemon .icon {
		width: 180px;
		height: 180px;
		margin-top: 20px;
	}

	.pokemon .name {
		font-size: 22px;
		height: 110px;
	}

	.pokemon .type {
		font-size: 18px;
	}

	.pokemon .stats {
		font-size: 22px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

@media (min-width: 912px) and (orientation: portrait) {
	input {
		font-size: 40px;
	}

	.filters > * {
		width: 170px;
	}

	main div button {
		font-size: 30px;
	}

	.pokemon .addFavourite {
		font-size: 32px;
	}

	.pokemon .icon {
		width: 200px;
		height: 200px;
		margin-top: 20px;
	}

	.pokemon .name {
		font-size: 20px;
		height: 100px;
	}

	.pokemon .type {
		font-size: 18px;
	}

	.pokemon .stats {
		font-size: 25px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

@media (min-width: 1024px) and (orientation: portrait) {
	input {
		font-size: 40px;
	}

	.filters > * {
		width: 170px;
	}

	main div button {
		font-size: 30px;
	}

	.pokemon .addFavourite {
		font-size: 32px;
	}

	.pokemon .icon {
		width: 220px;
		height: 220px;
		margin-top: 20px;
	}

	.pokemon .name {
		font-size: 25px;
		height: 120px;
	}

	.pokemon .type {
		font-size: 20px;
	}

	.pokemon .stats {
		font-size: 25px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

@media (min-width: 533px) and (orientation: landscape) {
	input {
		font-size: 18px;
	}

	.filters > * {
		width: 110px;
	}

	main div button {
		font-size: 18px;
	}

	.pokemon .addFavourite {
		font-size: 25px;
	}

	.pokemon .icon {
		width: 150px;
		height: 150px;
		margin-top: 15px;
	}

	.pokemon .name {
		font-size: 14px;
		height: 50px;
	}

	.pokemon .type {
		font-size: 12px;
	}

	.pokemon .stats {
		font-size: 12px;
		margin-top: 30px;
		margin-bottom: 10px;
	}
}

@media (min-width: 667px) and (orientation: landscape) {
	input {
		font-size: 22px;
	}

	.filters > * {
		width: 120px;
	}

	main div button {
		font-size: 20px;
	}

	.pokemon .icon {
		width: 180px;
		height: 180px;
		margin-top: 15px;
	}

	.pokemon .name {
		font-size: 16px;
		padding: 5px;
		height: 60px;
	}

	.pokemon .type {
		font-size: 14px;
	}

	.pokemon .stats {
		font-size: 14px;
		margin-top: 30px;
		margin-bottom: 10px;
	}
}

@media (min-width: 736px) and (orientation: landscape) {
	input {
		font-size: 25px;
	}

	.filters > * {
		width: 140px;
	}

	main div button {
		font-size: 20px;
	}

	.pokemon .icon {
		width: 150px;
		height: 150px;
		margin-top: 15px;
	}

	.pokemon .name {
		font-size: 14px;
		padding: 5px;
		height: 60px;
	}

	.pokemon .type {
		font-size: 12px;
	}
}

@media (min-width: 1024px) and (orientation: landscape) {
	input {
		font-size: 30px;
	}

	.filters > * {
		width: 150px;
	}

	main div button {
		font-size: 24px;
	}

	.pokemon .icon {
		width: 140px;
		height: 140px;
		margin-top: 15px;
	}

	.pokemon .name {
		font-size: 16px;
		padding: 5px;
		height: 60px;
	}

	.pokemon .type {
		font-size: 12px;
	}
}

@media (min-width: 1366px) and (orientation: landscape) {
	input {
		font-size: 40px;
	}

	.filters > * {
		width: 180px;
	}

	main div button {
		font-size: 25px;
	}

	.pokemon .icon {
		width: 150px;
		height: 150px;
		margin-top: 15px;
	}

	.pokemon .name {
		font-size: 18px;
		padding: 2px;
		height: 60px;
	}

	.pokemon .type {
		font-size: 14px;
	}

	.pokemon .stats {
		font-size: 15px;
	}
}

@media (min-width: 1920px) and (orientation: landscape) {
	input {
		font-size: 40px;
	}

	main div button {
		font-size: 25px;
	}

	.pokemon .icon {
		width: 150px;
		height: 150px;
		margin-top: 15px;
	}

	.pokemon .name {
		font-size: 18px;
		height: 50px;
	}

	.pokemon .type {
		font-size: 16px;
	}

	.pokemon .stats {
		font-size: 18px;
	}

	main div button {
		font-size: 20px;
	}

	.filters > * {
		width: 150px;
	}

	input {
		font-size: 40px;
	}
}
