* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	background-color: rgb(255, 195, 195);
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	min-height: calc(100vh - 230px);
}

main div button {
	border: 5px dashed red;
	color: white;
	padding: 3px;
	font-size: 20px;
	width: 70px;
	text-align: center;
	position: relative;
	border-radius: 30px;
	top: 5px;
	margin: 5px;
	background-color: rgb(255, 94, 94);
	cursor: pointer;
	font-family: 'Silkscreen', cursive;
}

main div button.filters {
	width: 150px;
}

main .options {
	margin-top: 20px;
}

.buttons {
	display: flex;
	justify-content: center;
}

main div button:hover:not(button:disabled) {
	border: 5px dashed rgb(252, 80, 80);
	background-color: rgb(255, 137, 137);
}

main div button:disabled {
	opacity: 50%;
	cursor: default;
}

.filters {
	display: flex;
	justify-content: center;
	align-items: center;
}

.filters > * {
	width: 150px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Silkscreen', cursive;
}
div.animation {
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	z-index: 10;
	position: absolute;
	background-color: black;
	top: 0;
	color: white;
	flex-direction: column;
	left: 0;
	font-size: 30px;
	font-family: 'Silkscreen', cursive;
	text-transform: uppercase;
	font-weight: bold;
}

input {
	border: 5px dashed rgb(252, 80, 80);
	font-size: 40px;
	padding: 5px;
	text-indent: 10px;
	border-radius: 300px;
	font-family: 'Silkscreen', cursive;
}

.lds-circle {
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateZ(1px);
}
.lds-circle > * {
	display: inline-block;
	width: 80%;
	height: 80%;
	margin: 18px;
	border-radius: 50%;
	background: #cef;
	animation: lds-circle 10s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes lds-circle {
	0%,
	100% {
		animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
	}
	0% {
		transform: rotateY(0deg);
	}
	50% {
		transform: rotateY(1800deg);
		animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
	}
	100% {
		transform: rotateY(3600deg);
	}
}
